<div class="content-body">
    <div class="register-box">
        <div class="title-box">
            <h3>Registrar carruagem</h3>
        </div>
        <div class="content-box">
            <form action="" method="post" class="form-group" enctype="multipart/form-data">
                <div class="input-group">
                    <label for="carriage_type" class="label-input">Tipo <span class="mandatory">*</span></label>
                    <input type="text" class="text-input" id="carriage_type" name="carriage_type">
                </div>
                <div class="input-group">
                    <label for="carriage_color" class="label-input">Cor <span class="mandatory">*</span></label>
                    <input type="text" class="text-input" id="carriage_color" name="carriage_color">
                </div>
                <div class="input-group">
                    <label for="carriage_numberofaxes" class="label-input">Numero de eixos <span class="mandatory">*</span></label>
                    <input type="text" class="text-input" id="carriage_numberofaxes" name="carriage_numberofaxes">
                </div>
                <div class="input-group">
                    <label for="carriage_width" class="label-input">Largura (metros)</label>
                    <input type="text" class="text-input" id="carriage_width" name="carriage_width">
                </div>
                <div class="input-group">
                    <label for="carriage_length" class="label-input">Comprimento (metros)</label>
                    <input type="text" class="text-input" id="carriage_length" name="carriage_length">
                </div>
                <div class="input-group">
                    <label for="carriage_height" class="label-input">Altura (metros)</label>
                    <input type="text" class="text-input" id="carriage_height" name="carriage_height">
                </div>
                <div class="input-group">
                    <label for="carriage_note" class="label-input">Observação</label>
                    <input type="text" class="text-input" id="carriage_note" name="carriage_note">
                </div>
                <div class='input-wrapper'>
                    <img class="input-preview">
                    <label for='input-file1'>
                        Selecione uma foto da esquerda
                    </label>
                    <input class="input-photo" id='input-file1' type='file' value='' name="carriage_leftpicture" onchange="photoPreview(event)" />
                </div>
                <div class='input-wrapper'>
                    <img class="input-preview">
                    <label for='input-file2'>
                        Selecione uma foto da frontal
                    </label>
                    <input class="input-photo" id='input-file2' type='file' value='' name="carriage_frontalpicture" onchange="photoPreview(event)" />
                </div>
                <div class='input-wrapper'>
                    <img class="input-preview">
                    <label for='input-file3'>
                        Selecione uma foto direita
                    </label>
                    <input class="input-photo" id='input-file3' type='file' value='' name="carriage_rightpicture" onchange="photoPreview(event)" />
                </div>
                <div class='input-wrapper'>
                    <img class="input-preview">
                    <label for='input-file4'>
                        Selecione uma foto traseira
                    </label>
                    <input class="input-photo" id='input-file4' type='file' value='' name="carriage_backpicture" onchange="photoPreview(event)" />
                </div>
                <div class="form-mandatory">
                    <p><span class="mandatory">*</span> Campos obrigatorios</p>
                </div>
                <div class="form-action">
                    <button class="action-reset" type="reset">Cancelar</button>
                    <button class="action-submit" type="submit">Salvar</button>
                </div>
            </form>
        </div>

    </div>
</div>