<div class="content-body">
    <div class="profile-body">
        <div class="entity-profile-card">
            <div class="entity-profile-card-middle card-category">
                <div class="entity-info sub-card-category">
                    <div class="row card-category-title">
                        <h3>Dependente</h3>
                    </div>
                    <div class="info-items">
                        <div class="info-box">
                            <h3 class="info-title">Responsável</h3>
                            <a href="/admin/conductor/profile{$dependente.partner_id}" class="profile-action-bt">{$socio}</a>
                        </div>
                        <div class="info-box">
                            <h3 class="info-title">Nome completo</h3>
                            <h3 class="info-value">{$dependente.dependent_fullname}</h3>
                        </div>
                        <div class="info-box">
                            <h3 class="info-title">Identidade</h3>
                            <h3 class="info-value">{$dependente.dependent_identity}</h3>
                        </div>
                        <div class="info-box">
                            <h3 class="info-title">CPF</h3>
                            <h3 class="info-value">{$dependente.dependent_cpf}</h3>
                        </div>
                        <div class="info-box">
                            <h3 class="info-title">Idade</h3>
                            <h3 class="info-value">{$dependente.dependent_age}</h3>
                        </div>
                        <div class="info-box">
                            <h3 class="info-title">Data nascimento</h3>
                            <h3 class="info-value">{$dependente.dependent_dtnasc}</h3>
                        </div>
                        <div class="info-box">
                            <h3 class="info-title">Telefone celular</h3>
                            <h3 class="info-value">{$dependente.dependent_mobphone}</h3>
                        </div>
                        <div class="info-box">
                            <h3 class="info-title">Telefone residencial</h3>
                            <h3 class="info-value">{$dependente.dependent_resphone}</h3>
                        </div>
                        <div class="info-box">
                            <h3 class="info-title">Familiaridade</h3>
                            <h3 class="info-value">{$dependente.dependent_familiarity}</h3>
                        </div>
                        <div class="info-box">
                            <h3 class="info-title">Data de registro</h3>
                            <h3 class="info-value">{$dependente.dependent_dtregister}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="entity-profile-card-bottom card-category">
                <div class="entity-profile-bottom-actions sub-card-category">
                    <div class="card-category-title">
                        <h3>
                            Ações
                        </h3>
                    </div>
                    <div class="info-items">
                        <div class="new-element-action">
                            <a href="/admin/dependent/update{$dependente.dependent_id}">
                                <button class="edit">Editar</button>
                            </a>
                        </div>
                        <div class="new-element-action">
                            <a href="/admin/dependent/delete{$dependente.dependent_id}" onclick="return confirm('Deseja realmente excluir este registro?')">
                                <button class="delete">Excluir</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>