<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../res/_css/index.css">
    <link rel="stylesheet" href="../../res/_css/response.css">
    <link rel="stylesheet" href="../../res/_css/simple-grid.min.css">
    <title>Recuperação Gremio-APP</title>
</head>

<body>
    <div class="box-bg">
        <div class="input-box">
            <div class="input-box-header">
                <div class="input-box-title">
                    <div class="box-title">
                        Senha
                    </div>
                    <div class="box-sub-title">
                        Trocar senha - Horse-APP
                    </div>
                </div>
            </div>
            <div class="input-box-body">
                <form action="/forgot" class="box-form-group" method="post">
                    <div class="box-input-group">
                        <label for="user_email" class="label-input">Email</label>
                        <input type="text" class="text-input" id="user_email" name="user_email">
                    </div>
                    <div class="input-box-action">
                        <button class="done" type="submit">Enviar</button>
                        <a href="/" class="action">Voltar</a>
                    </div>
                </form>
            </div>
            <div class="input-box-footer">

            </div>
        </div>
    </div>
</body>

</html>