<div class="content-body">
    <div class="profile-body">
        <div class="entity-profile-card">
            <div class="entity-profile-card-middle card-category">
                <div class="entity-info sub-card-category">
                    <div class="row card-category-title">
                        <h3>Pagamento</h3>
                    </div>
                    <div class="info-items">
                        <div class="info-box">
                            <h3 class="info-title">Titular</h3>
                            <a href="/admin/partner/profile{$pagamento.partner_id}" class="profile-action-bt">{$pagamento.partner_fullname}</a>
                        </div>
                        <div class="info-box">
                            <h3 class="info-title">Idendificador</h3>
                            <h3 class="info-value">{$pagamento.payment_uniquetag}</h3>
                        </div>
                        <div class="info-box">
                            <h3 class="info-title">Pagador</h3>
                            <h3 class="info-value">{$pagamento.payment_payer}</h3>
                        </div>
                        <div class="info-box">
                            <h3 class="info-title">Valor</h3>
                            <h3 class="info-value">{$pagamento.payment_value}</h3>
                        </div>

                        <div class="info-box">
                            <h3 class="info-title">Metodo</h3>
                            <h3 class="info-value">{$pagamento.payment_method}</h3>
                        </div>
                        <div class="info-box">
                            <h3 class="info-title">Data</h3>
                            <h3 class="info-value">{$pagamento.payment_dtregister}</h3>
                        </div>
                        <div class="info-box">
                            <h3 class="info-title">Vencimento</h3>
                            <h3 class="info-value">{$pagamento.payment_duedate}</h3>
                        </div>
                        <div class="info-box">
                            <h3 class="info-title">Observação</h3>
                            <h3 class="info-value">{$pagamento.payment_note}</h3>
                        </div>
                    </div>
                  
                </div>
                <div class="entity-profile-card-bottom card-category">
                    <div class="entity-profile-bottom-actions sub-card-category">
                        <div class="card-category-title">
                            <h3>
                                Ações
                            </h3>
                        </div>
                    <div class="info-items">
                        <div class="new-element-action">
                            <a href="/admin/payment/pay{$pagamento.payment_id}">
                                <button class="edit">Pagar</button>
                            </a>
                        </div>
                        <div class="new-element-action">
                            <a href="/admin/payment/delete{$pagamento.payment_id}" onclick="return confirm('Deseja realmente excluir este registro?')">
                                <button class="delete">Excluir</button>
                            </a>
                        </div>
                    </div>
                </div>
                </div>














                
            </div>

        </div>
    </div>
</div>


