<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../res/_css/index.css">
    <link rel="stylesheet" href="../../res/_css/response.css">
    <link rel="stylesheet" href="../../res/_css/simple-grid.min.css">
    <title>Enviado</title>
</head>

<body>
    <div class="box-bg">
        <div class="input-box">
            <div class="input-box-header">
                <div class="input-box-title">
                    <div class="box-title">
                        Email
                    </div>
                    <div class="box-sub-title">
                        Horse-APP
                    </div>
                </div>
            </div>
            <div class="input-box-body">
                <p class="message success">
                    Email enviado com sucesso!
                </p>
                <div class="input-box-action">
                    <a href="/" class="back">Voltar</a>
                    
                </div>
            </div>
            <div class="input-box-footer">
                <div class="footer-bottom">
                    <a href="">
                        <div class="company-logo">
                            <img src="../../res/_assets/_contentimg/brasao.jpg" alt="">
                        </div>
                        <div class="company-name">Prefeitura Municipal de Uruguaina - RS</div>
                    </a>
                </div>
                <div class="footer-bottom">
                    <a href="">
                        <div class="company-logo">
                            <img src="../../res/_assets/_contentimg/sestra.jpg" alt="">
                        </div>
                        <div class="company-name">SESTRA Uruguaina - RS</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>